<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sortir!</title>
</head>
<body>

    <h1>Test</h1>

    <div>
        {# Créer une variable #}
        {% set name ="Alain" %}

        {# Affichage d'une variable #}
        <h3>{{ name }}</h3>
    </div>

</body>
</html>