body {
    background: rgb(226,207,221);
    background: linear-gradient(90deg, rgba(226,207,221,1) 0%, rgba(242,241,217,1) 100%);
    background-attachment: fixed;
    color: #EEE;
    font-family: 'Crimson Text', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

boutonForm{
    margin:auto;
}

header {
    display: flex;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 0;
}

nav li {
    color:red;
    font-size: 125%;
}

.sortie-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
}

p,
h1,
h2 {
    color:black;
    font-family: 'Lobster', cursive;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {background-color: lawngreen}

.sortie-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.sortie-details-infos > div {
    margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
    .serie-details {
        grid-template-columns: 300px 1fr;
    }
}

.sortie article {
    display: flex;
    margin-bottom: 1rem;
}

.sortie article img {
    max-height: 200px;
    margin-right: 0.6rem;
}


.checkbox{
    width: 50%;
}

.sortieParticipants table{
    color: black;
    border: solid 1px black;
    border-collapse: collapse;
}

.titreParticipants {
    color: black;
}




